---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Catalogo de Ryan Gosling</title>
	</head>

	<body>
		<section id="inicio">
		<h1>Catalogo de Ryan Gosling</h1>
		<h2>Todas las peliculas en las que sale nuestro rubio favorito</h2>
		</section>

	</body>
	<style>
		section
		{
			background-color: red;
		}
		h1
		{
			font-size: 200px;
			font-weight: bolder;
			font-family:Verdana;
			text-align: center;
			padding: 20px;
		}
		h2
		{
			font-size: 120px;
			font-weight: bold;
			font-family:Verdana;
			text-align: center;
			padding: 20px;
		}
	</style>
	<script>
		
	</script>
</html>

